.contacts {
  margin-top: 50px;
  width: 100%;
  background: #c7a17a33;
}
.contacts__title {
  text-align: center;
}
.contacts__title h3 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 50px;
  color: #333333;
}

.contacts-content {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}

.block-map {
  width: 48%;
  margin-top: 48px;
}
.block-map__img {
  width: 100%;
  min-height: 300px;
  background-image: url(../../../assets/img/fons/map_img.png);
  background-size: contain;
}
.block-map__description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.block-map__items {
  display: flex;
  flex-direction: column;
}
.block-map__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  color: #333333;
}
.block-map__item_loc::before {
  content: url(../../../assets/svg/location-marker.svg);
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.block-map__item_mail::before {
  content: url(../../../assets/svg/mail.svg);
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.block-map__item_tel::before {
  content: url(../../../assets/svg/phone_black.svg);
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.block-map__item_site::before {
  content: url(../../../assets/svg/globe-alt.svg);
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.block-form {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.block-form h3 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  font-weight: normal;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__label {
  color: #333333;
  font-size: 18px;
}
.form__input {
  padding: 15px 60px;
  margin: 5px 0;
  border-radius: 10px;
}
.form__input_tel {
  background-image: url(../../../assets/svg/phone.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}
.form__input_user {
  background-image: url(../../../assets/svg/user.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}
.form__input_text {
  background-image: url(../../../assets/svg/pencil-alt.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.form button {
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .contacts-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 0;
  }

  .block-map {
    width: 100%;
    order: 2;
  }
  .block-map__description {
    align-items: center;
  }

  .block-form {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .contacts__title h3 {
    font-size: 32px;
  }

  .block-form {
    width: 320px;
    margin-top: 20px;
  }
  .block-form h3 {
    margin: 10px 0;
    font-size: 20px;
  }

  .form__label {
    font-size: 14px;
  }

  .block-map__item {
    font-size: 16px;
  }
}

/*# sourceMappingURL=contacts.css.map */
